body
{
    background-image: url(visuals/purple_overlay.gif);
}
p
{
    color: #00e633;
}
.intro, .aboutMe, .interact, .dni, .socials
{
    background-color: #894cb590;
    border-radius: 7px;
    text-align: center;
    width: 400px;
    
}