body
{
    background-image: url(visuals/purple_overlay.gif);
    background-repeat: no-repeat;
    
}
h1, h2, h3, h4, h5, h6, li
{
    color: #a18ae0;
}
.intro, .aboutMe, .interact, .dni, .socials
{
    background-color: #894cb590;
    border-radius: 7px;
    text-align: center;
    width: 400px;
    
}